<h1>Add Additional Contact Information Here:</h1>

<form action="/contact_info" method="post">
  <input id="" name="" type="hidden" value="<%= @contacts.last_name()%>">

  <input id="street" name="street" type="text" placeholder="street">
  <input id="city" name="city" type="text" placeholder="city">
  <input id="state" name="state" type="text" placeholder="state">
  <input id="zip" name="zip" type="text" placeholder="zip">
  <input id="type" name="type" type="text" placeholder="type">

  <input id="area_code" name="area_code" type="text" placeholder="area code">
  <input id="number" name="number" type="text" placeholder="number">
  <input id="type" name="type" type="text" placeholder="type">

  <input id="email" name="email" type="text" placeholder="email">
  <input id="type" name="type" type="text" placeholder="type">


  <button type="submit">Add</button>
</form>
