<h1>Add a new contact here:</h1>

<form action="/contacts_list" method="post">

  <label for="first_name">Contact's First Name:</label>
  <input id="first_name" name="first_name" type="text" placeholder= "first name">

  <label for="last_name">Contact's Last Name:</label>
  <input id="last_name" name="last_name" type="text" placeholder= "last name">

  <label for="job">Contact's Job:</label>
  <input id="job" name="job" type="text" placeholder= "job">

  <label for="company">Contact's Company:</label>
  <input id="company" name="company" type="text" placeholder= "company">

  <button type="submit">Add Contact</button>
</form>
